In [ ]:
"""ans1) A database is a structured collection of data that is organized, managed, and accessed in a systematic way. 
It provides an efficient and reliable method for storing, retrieving, and manipulating large amounts of data.
Databases are used in various applications and industries to handle data management tasks effectively.

SQL databases are based on the relational model and use structured schemas to define the organization and relationships of the data.

NoSQL databases use various data models to store and retrieve data, including key-value pairs, documents, columnar, and graph-based structures

In [ ]:
"""ans2) DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and 
         manage the structure of a database, including creating, modifying, and 
         deleting database objects such as tables, views, indexes, and constraints.
         
         CREATE:
         The CREATE statement is used to create a new database object, such as a table, view, or index. 
         It specifies the object's name, structure, and other attributes.
         
         DROP:
         The DROP statement is used to delete an existing database object, such as a table, view, or index.
         It permanently removes the object and all its associated data.
         
         ALTER:
         The ALTER statement is used to modify the structure of an existing database object.
         It allows you to add, modify, or drop columns, constraints, or other attributes of a table, view, or index.
         
         TRUNCATE:
         The TRUNCATE statement is used to delete all data from an existing table, but the table structure and its definition remain intact. 
         It is faster than using the DELETE statement to remove all rows

In [ ]:
"""ans3) DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) 
         that is used to manipulate the data stored in a database.
         DML statements are primarily used to insert, update, and delete data from database tables.
         
         INSERT:
         The INSERT statement is used to insert new rows of data into a table. It specifies the table name and
         the values to be inserted into the corresponding columns.
         
         UPDATE:
         The UPDATE statement is used to modify existing data in a table. 
         It allows you to update specific columns or values based on specified conditions

In [ ]:
"""ans4) DQL stands for Data Query Language, and it is a subset of the Structured Query Language (SQL) 
         that is specifically used for querying and retrieving data from a database. 
         DQL commands are designed to interact with the database to retrieve specific information based on the specified criteria.
         
         The SQL query using SELECT for this scenario would look like this:


SELECT FirstName, LastName
FROM Employees
WHERE Department = 'Sales';

In [ ]:
"""ans5) Primary key:

A primary key is a column or combination of columns in a database table that uniquely identifies each row in the table. A primary key cannot contain null values. A primary key can be a single column or a composite key, which is a combination of two or more columns.

The primary key of a table is used to create a unique index on the table. This index can be used to quickly and efficiently find rows in the table.

Foreign key:

A foreign key is a column or combination of columns in a database table that references a primary key in another table. A foreign key cannot contain null values. A foreign key is used to establish a relationship between two tables.

The foreign key of a table must contain the same data as the primary key of the table that it references. This ensures that the data in the two tables is consistent.

In [ ]:
"""ans6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Create a connection object
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="mydb"
)

# Create a cursor object
cursor = connection.cursor()

# Execute a query
cursor.execute("SELECT * FROM users")

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

cursor(): The cursor() method creates a cursor object. A cursor object is used to execute SQL queries and fetch the results.
          The cursor object is returned by the cursor() method.

execute(): The execute() method executes an SQL query. The execute() method takes an SQL query as its argument. 
          The execute() method returns a boolean value indicating whether the query was executed successfully.